/*
* Theme Name: Spasalon
* Theme URI: http://webriti.com/spasalon-lite-description/
* Description: A responsive theme for SPA SALON and BEAUTY SALON type of business that uses multiple nav menus, right-sidebar,Featured Slider and Beautifully designed home page all manage via option panel.It has a pixel-perfect design that is great for any health care ,salons , spas etc related services who wants a new look for their site. Very recently added a support for woocommerce plugin. Now you create an effective online shop presence with the help of this woocommerce support i.e we have styled this theme in such a manner so that the woocommerce pages/templates looks very similar to the theme styles.
* Version: 1.5.9.1
* Author: webriti
* Author URI: http://www.webriti.com
* Tags: pink, white, full-width-template, threaded-comments, right-sidebar, one-column, two-columns, fixed-layout, custom-menu, sticky-post, theme-options, translation-ready, responsive-layout,featured-images
* License: GNU General Public License v3.0
* License URI: http://www.gnu.org/licenses/gpl-3.0.html
* Copyright (c) 2013 webriti. All rights reserved.
* Text Domain: 'sis_spa' 
*/



/* Add additional stylesheets below
-------------------------------------------------- */
.pink-head {
color: #FFFFFF;
    line-height: 1.25;
    margin: 0;
	font-weight: bold;
}
body {
     -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    font-smooth:always;
    color: #959595;
    font-family: "Trebuchet MS","Arial","Helvetica","Verdana","sans-serif";
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
	line-height:24px;
	margin:0px;
}

/* Css for Index Page goes here
-------------------------------------------------- ----------------------------------------------------------------------------------*/
#slider-Pink 
{
margin-top:15px; width:auto; margin-left:25px;
}

.logo-img{
 height:60px;

}
/* Menus Drop Shadow */
#main_shadow{
	box-shadow: 5px 1px 3px #E8ECEE;
	-moz-box-shadow: 5px 1px 3px #E8ECEE;
	-webkit-box-shadow: 5px 1px 3px #E8ECEE;
}

.home_service{
	font-family: roboto;
	font-size: 16px;
	color: #353c3f;
	margin-bottom: 20.1px;
}
.home_service_img{
	display: block;
/* 	height: 240px; Heght auto for reponsive issue got in support forum;*/
    height:auto;
	width:100%;
	margin-bottom: 25px;
}
.home_service_para p{
	font-family: roboto;
	font-size: 14px;
	color: #626668;
	text-align:left;
	word-wrap:break-word;
	word-break:normal;
}

.spacer {  margin-bottom: 115px; }


/* Flexslider Thumbnails */
.flex_thumbnail{
	bottom: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    z-index: 1;
	

}
.flex_thumbnail p{
	font-family: MyriadPro;
	color: #6d6962;
	font-size: 12px;
	text-transform: uppercase;
	 margin: 0px 20px; 
}
.flex_thumbnail h4{
	font-family: Raleway-Medium;
	color: #4b453f;
	font-size: 21px;
	text-transform: uppercase;
	 margin: 0px 20px; 
}
.flex_btn{
  display: block;
  padding: 4px 23px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #4b453f;
  border: 0px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  font-family: Raleway-Sbold;
  position: relative;
  top: 40%;
}

.flex_btn:hover,
.flex_btn:focus,
.flex_btn:active,
.flex_btn.active,
.flex_btn.disabled,
.flex_btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
}

/*Manually added css by shahid-- 23 july 15*/
ul.static-item { list-style: none; width: 100%; overflow: hidden; margin-bottom: 70px; }
ul.static-item li{ background-color: #ffffff; display: inline-block; width: 19%; float: left; border-right: 1px solid #eae7e4; }
ul.static-item li > h4 { margin: 15px 20px 15px; }
/* Products Thumbnail css here for Home Page----------------------------------------------------------------------------------Shahid */
#slidedescription{margin-top:15px;width:auto;margin-left:20px;}
#pink_strip{margin-top:20px;margin-left:5px; width:auto;}
#banner_desc{margin-top:20px;}
#post_single{margin: 0px;}
#product_slide{padding:0px;}
#slide_desc{margin-top:20px;}
.slide_content{height:auto;position:relative;}
#comment {color: #555555; font-family:roboto;font-size:14px;} 
#spa_form{margin-left:0px;}
#spa_address_area{margin-top: 10px margin-left:0px;}
#menu_position{position: static;}
#spa_search_form_btn{float: right;}
.home_products_bg{
	background: #ffffff;
}
.home_product_img{
	height: 236px;
	width: 100%;
}
.home_products_bg li{
	border-right: 1px solid #eae7e4;
}
.home_products_bg h3{
	font-family: roboto-bold;
	color: #f22853;
	font-size: 16px;
	border-top: 1px solid #eae7e4;
	margin: 0px;
	line-height: 21px;
	padding: 17px 20px 0;
}
.home_products_bg li{
	margin-bottom: 0px;
}
.home_products_bg p{
	font-family: roboto;
	color: #626668;
	font-size: 13px;
	padding: 5px 20px 0;
}

/* Pinkstrip Container Css -----------------------------------------------------------------------------------------------------*/


 

    /* Large desktop */
 @media (min-width: 1025px) {

.pink-container {
    
    bottom: 0px;
    left: 0;
    padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 0px;
	   
    position: relative;
    right: 0;

	margin:	auto;
	
}
.pink-container h1{
    color: #FFFFFF;
    line-height: 1.25;
    margin: 0;
   
}
.pink_title{

	margin-top:3px;
	margin-bottom:20px;
}
.pink-container p{
	
    font-family: roboto;
    font-size: 13px;
    padding-left: 30px;
	line-height: 21px;
}
.pink_title  dt{
	font-family: Raleway-Light;
	color: #ffffff;
	font-size: 21px;
	text-transform:uppercase;
}  
.pink-head{
	font-family: Raleway-Xbold;
	color: #ffffff;
	font-size: 36px;
}
.spa_tag{	bottom: 8px;height: 105px;position: relative;float:right;width:170px;display:block;margin-right:20px;}
.spa_tag span{

    display: block;
    font-size: 12px;
    font-weight: 600;
	font-family: Raleway-Medium;
    height: 40px;
    left: 18px;
    line-height: 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 48px;
    width: 135px;
}
.spa_tag span p{
    font-size: 18px;
	
	font-family: Raleway-Sbold;
	border: 0px;
	padding: 0px;
}

}   
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)  { 

.pink-container {
display:none;

}
.slidesDescription
{
display:none;
}
    
	
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
.pink-container 
{
	display:none;

}
.slidesDescription
{
display:none;
}

	}
/* Landscape phones and down */
@media (max-width: 480px) { 
.pink-container
{
	display:none;

}
.slidesDescription
{
display:none;
}


}

  
	
	
	

/*service one and two column css------------------------------------------------------------------------------------------------------------------------*/
.services-two-heading,.services-one-heading {
    border-bottom: 1px solid #EAE7E4;
    font-size: 24px;
    margin-bottom: 35px;
     margin-top: 0px; 
	padding-left: 0px;
	color:#353c3f;
    font-family: roboto;
    padding-bottom: 20px;
	font-weight: normal;
}

.service-media-heading {
	font-family:roboto;
    font-size: 18px;
    line-height: 20px;
    margin-top: 5px;
	 margin-bottom:10px;
	color: #4A4849;
    font-weight: normal;
}
.services-content {
  font-family:roboto;
  font-size:12px;
  color:#7a8082;
  margin-bottom:20px;
  }

 .service_two_img
{
   height:87px;
   width:150px;
   margin-right:10px;

}
.service_one_img
{
  /* width:245px;
  height:240px; */
  width:150px;
  height:87px;
  margin-right:15px;
} 

.service-btn {
    display: block;
    font-family: roboto;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 30px;
	color:#f22853;
	
}



.service-1c{	min-height:205px; }
.service-1c-xpt{ margin-top:-27px; }
.service-1c-xpt:first-child{margin-top:40px;}
.service-1c-xpt:last-child{ margin-bottom:-96px;}


.service-2c-xpt{ margin-top:-76px; }
.service-2c-xpt:first-child{margin-top:40px;}



 /*About Us Styles--------------------------------------------------------------------------------------------------------*/
#aboutus-section {
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
	margin-left:0px;
}
.aboutus-head  {
	margin-bottom:35px;
	color: #F22853;
	font-size: 24px;
	line-height: 25px;
	margin-top: 50px;
	font-family: roboto;
	font-weight: normal;
}
.aboutus-team-img {
    margin-right:17px;
    border-radius: 500px 500px 500px 500px;
    border-top: 5px solid #D8D8D8;
    display: block;
     height: 180px;
    width: 180px; 
	-webkit-border-radius: 500px 500px 500px 500px;
     -moz-border-radius: 500px 500px 500px 500px;
          border-radius: 500px 500px 500px 500px;
}
.aboutus-media-heading{
font-size:18px;
margin: 0 0 15px;
color:#302d2e;
font-family:roboto;
}
.about-circle-img {
    border: 7px solid #F22853;
	-webkit-border-radius: 500px 500px 500px 500px;
     -moz-border-radius: 500px 500px 500px 500px;
          border-radius: 500px 500px 500px 500px;
		  margin-right:0px;
		  margin-top:35px;
		    height: 360px;
    width: 360px; 
}
.aboutus-alink {
  
	color: #F22853;
	font-family:roboto;
	font-size:14px;

}
a{color:#F22853;}


.media > .about-pull-left {
    float: left;
  
} 
.abouus-service-img{
width: 260px;
height: 160px;
margin-right: 25px;
-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.ourteamheading{
margin-top:0px;
margin-bottom:57px;
color: #f22853;
font-size:24px;
font-family: roboto;
}
#our-team{
   border-bottom: 1px solid #E9E9E9;
    margin-bottom: 1.5%;
	margin-left:0px;
}
.designation {
    color: #f22853;
    display: block;
    margin: 0 0 10px;

	font-family:roboto;
}
.contact-icons {
    float: left;
    margin-bottom: 25px;
    margin-top: 0;
    width: 100%;
}
a.facebook {
    background: url("images/facebook.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 26px;
    margin-right: 7px;
    width: 26px;
}

a.twitter{
    background: url("images/twitter.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 26px;
    margin-right: 7px;
    width: 26px;
}

a.google {
    background: url("images/google.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 26px;
    margin-right: 7px;
    width: 26px;
}

a.facebook:hover {
    background: url("images/facebook_hover.png") no-repeat scroll 0 0 transparent;
}
a.twitter:hover{
    background: url("images/twitter_hover.png") no-repeat scroll 0 0 transparent;
}
a.google:hover {
    background: url("images/google_hover.png") no-repeat scroll 0 0 transparent;
}

#about-service-head{

    color: #F22853;
    font-size: 27px;
    line-height: 20px;
    margin-bottom:3.5%;
	font-family:roboto;

}
 #aboutus-service-sections{

   
   margin-bottom: 0px;
   margin-left: 0;
   margin-top: 30px;
 

}

.aboutus_content p{
font-size:12px;
color:#929090;
font-family:roboto;

}
.about-team-head{
color:#424040;
font-size:24px;
font-family:roboto;
margin-bottom:0px;


}
.aboutus-service-head{
color:#302d2e;
font-size:18px;
font-family:roboto;
margin-bottom:0px;
margin-top:0px;
}



  

 
/* Css include here for Products template ------------------------------------------------------------------------------------*/
.spa-products-btn {
    font-family: roboto;
    font-size: 16px;
	line-height:21px;
	color:#f22853;
    font-weight: 600;
	padding-left: 15px;
}
.spa-Products{
	background: #fff;
	position:relative;
	margin-bottom: 0px;
	margin-top: 0px;
    padding-top: 0px;
	padding-bottom: 0px;
	line-height:1;
	height:auto;
	display:inline-block;
}
.spa-products-detail{
	background: #fff;
	position:relative;
	margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 0px;
	padding-bottom: 0px;
	line-height:1;
	height:auto;
	
}
.spa-products-heading {

    font-size: 19px;
    margin-bottom: 0px;
    margin-top: 50px;
	line-height:20px;
	color:#353c3f;
    padding-bottom: 0;
	font-family: roboto;
	font-weight: normal;
}

.spa-products-thumbnail {
 	border-right: 1px solid #EAE7E4;
	border-top: 1px solid rgb(234, 231, 228);
	border-bottom : 1px solid rgb(234, 231, 228);
    display: inline-block;
    height: 375px;
    margin: 20px 0;
	padding: 0px;
    width: 232px;
	position: relative;
	float: left;
}
.spa-products-img {
    border-bottom: 1px solid #EAE7E4;
    padding: 0;
    width: 100%;height:63%;
}
.spa-products-btn {
    font-family: roboto;
    font-size: 16px;
    font-weight: 600; 

	padding-left: 15px;
}
.spa-thumbnail h4, .spa-products-thumbnail h4, .spa-products-detail h4, .spa-products-details-thumbnail h4{
	color: #f22853;
	font-family: roboto;
	padding-left: 7%;
	margin-top:7%;
    padding-right: 10px;
	font-size:16px;

}
.spa-thumbnail p, .spa-products-thumbnail p, .spa-products-detail p, .spa-products-details-thumbnail p{
	color: #626668;
	padding-left: 15px;
	margin-bottom:8%;
    padding-right: 10px;

}
.spa-products-thumbnail p
{
	overflow:hidden;
	height:12px; 
	margin-bottom:0px;
	font-family:roboto;
}
.spa-products-thumbnail h4 a{
	color: #353c3f;
}
.spa-products-thumbnail h4 a:hover{
	color: #f22853;
}

/*Product Detail Page CSS-----------------------------------------------------------------------------------------------------------------------*/
#main-content {    
	margin-top:60px;
}

#media-article {
    display: block;
    margin-bottom: 75px;
}
.heading-related-products{
	font-size:18px;
   line-height:20px;
   color:#4a4849;
    font-family: roboto; 
	font-weight: normal;
}
.sidebar-widget-heading{
font-size:18px;
   line-height:20px;
   color:#4a4849;
    font-family: roboto; 
}


.product-detail-img {
    border: 1px solid #E7E7E7;
    display: block;
	margin-right:10px; 
	width:320px;
	height:300px;
	
}
.spa-productsdetail-img{
border-bottom: 1px solid #EAE7E4;
    height: 240px;
    padding: 0;
    width: 235px;
	border-bottom: 1px solid #EAE7E4;
    border-right: 1px solid #EAE7E4;
    border-top: 1px solid #EAE7E4;
	float: left;
	line-height: 20px;
    margin: 20px 0;
    padding: 0;
    position: relative;
  }
 .media-heading{

    color: #353C3F;
    font-family: roboto;
	font-size:24px;
	line-height:21px;

 } 
 .product-content p{
   margin-top:30px;
   font-size:12px;
   line-height:20px;
   color:#7a8082;
    font-family: roboto; 
 }
 .price-tag{
   color: #f22853;
    font-family: roboto;
	font-size:16px;
	line-height:21px;
	margin-bottom:25px;
 
 }
.Product-detail-heading{
    font-size: 24px;
	line-height:21px;
     color: #353c3f;
    font-family: roboto;
	margin-bottom: 0;
	margin-top: 6px;
    padding-bottom: 15px;
	font-weight: normal;
} 


/*contact css-------------------------------------------------------------------------------------------------------------*/
.contact-header{   
    font-size: 24px;
	font-family:roboto;
	line-height:20px;
    font-weight: normal;
    margin-bottom: 32px;
    margin-top: 52px;
    padding-bottom: 0;

}
.contact-header-getin{
  color: #f22853;
   line-height:20px;
    font-size: 24px;
	font-family:roboto;
	padding-bottom: 0px;
	font-weight: normal;
    margin-top: 60px;
	
}
#contact-section {
    border-top: 1px solid #E9E9E9;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 31px;margin-left:0px;
}

.contact-add{
    color: #424040;
    font-size: 24px;
    font-weight: normal;
	line-height:20px;
	font-family:roboto;
    margin-bottom: 15px;
    padding: 0;
}
.address-detail{
font-family:roboto;color:#7a7a7a;line-height:20px;font-size:14px;
font-weight:normal;
}
#phone {
    border: 1px solid #E0E0E0;
    border-radius: 0 0 0 0;
    margin-top: 65px;
    padding: 20px 80px;
}

.phone-no {
    color: #F22853;
    font-family: Raleway-Medium;
    font-size: 48px;
    line-height: 45px;
}

.phone-icon {
    display: block;
    float: left;
    height: 45px;
    margin-right: 20px;
    width: 60px;
}
.call-us {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E0E0E0;
    bottom: 33px;
    color: #302D2E;
    font-family: roboto;
    font-size: 24px;
    left: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 60px;
    position: relative;
}

#contact-container {
     
	 border: 0px;
     display: block; 
	 margin-bottom: 0px;
	 border-bottom: 5px solid #F22853;
}

.form_name
{
   font-family:roboto;
    color:#707070;
	font-size:14px;
}
.contact-input-fields{
 border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    line-height: 20px;
    min-height: 48px;
    text-align: left;
	width:400px;
	 
}
.contact-form-submit {
  font-family:roboto;
 display: inline-block;
     margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 150px;
	height:48px;
	background-color:#f22853;
	color:#ffffff;
	font-size:20px;
	border:0px;
	
	
}


/* blog template  Css ------------------------------------------------------------------------------------------------------------------*/
/*Responsive Video CSS */
  .video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
    

#main-content{
	margin-top:0px;
	padding: 0px 40px 15px 0px;

}

#blog-media {
    margin-bottom: 40px;
}
.blog_detail_head{
	font-size:24px;
font-family:roboto;
color:#353c3f;
line-height:20px;
margin:0px 0px 30px;
font-weight: normal;
word-wrap:break-word;
word-break:break-all;
ms-word-wrap: break-word;
}
.blog-icon-media {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 165px;
}
.blog-icons {
	list-style: none outside none;
    margin-left: 0;
    width: 150px;
	font-family:roboto;
	color:#9a9a9a;
}

.blog-icons li {
	border-bottom: 1px solid #dedede;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 150px;
}
.blog-icons li a {
    color:#9a9a9a;
}
.blog-icons li a:hover {
    color:#f22853;
}
.blog-icon-media{
	float: left;
	position: relative;
	width: 165px;
	margin-right: 10px;
}
.blog-img {
    display: block;
	margin-bottom: 10px;
	height:87px;
	width:150px;
}

.blog-heading {
     font-size: 24px;
    font-weight: normal;
    line-height: 25px;
    margin: 5px 0 15px;
	color:#353c3f;
	font-family:roboto;
}
.blog_content p
{
  font-family:roboto;
  color:#989495;
  line-height:24px;
  font-size:14px;
}
.blog-readmore{
display: block;
    font-family: roboto;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 30px;
	margin-top:25px;
	color:#f22853;
}
/* Sidebar    -------------------------------------------------------------------------------------------------*/
._blank{
	height: 50px;
}

#widget-title{    
    border-radius: 0 0 0 0;
    margin-bottom: 27px;
	padding-left: 15px;
    padding-right: 10px;
	margin-left: 0px;
}
.spa-widget-title{
    color: #4a4849;
    font-family: roboto;
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
	padding-left: 15px;	
}
.widgettitle{
	padding-top: 5px;
	padding-bottom: 5px;
	color: #4a4849;
    font-family: roboto;
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
	padding-left: 15px;	
}
.sidebar-thumb{
	/* margin-bottom: 22px; */
	margin-left: 0px;
	 
	 border-bottom: 1px solid #e8e8e8; /* Commented By Akhlesh (Told By Mr. Sunil Sir) */
	padding-bottom: 22px;}
.sidebar-thumb p{
	font-family: roboto;
	color: #a3a7a9;
	font-size: 12px;
	margin:0 0 2px;
}
.sidebar-thumb a{
	font-family: roboto;
	color: #7a8082;
	font-size: 12px;
}
.sidebar-thumb a:hover{
	font-family: roboto;
	color: #f22853;
	font-size: 12px;
}
.sidebar-img{
	width: 65px; 
	height: 39px;
/* 	border: 1px solid #e7e7e7; */
	/* -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px; */
}
.sidebar-phone{
	background: url("images/phone.png") no-repeat scroll 0 0 transparent;

	width: 17px;
	height: 17px;
	
	
	display: inline-block;
padding: 0 10px 10px 37px;
width: 80%;
color: #4a4849;
font-family: roboto;
font-size: 16px;
}
.sidebar-mail{
	background: url("images/envelop.png") no-repeat scroll 0 0 transparent;

	width: 17px;
	height: 17px;
}
.sidebar-city{
	background: url("images/baloon.png") no-repeat scroll 0 0 transparent;

	width: 17px;
	height: 17px;
	
	
display: inline-block;
padding: 0 10px 10px 37px;
width: 80%;
color: #4a4849;
font-family: roboto;
font-size: 16px;
}
.sidebar-mail a 
 {
	display: inline-block;
    padding: 0 10px 10px 37px;
    width: 80%;
	color: #4a4849;
	font-family: roboto;
	font-size: 16px;
}

.social-icons{	margin-top: 15px;margin-bottom: 20px;	}

.sidebar-btn {
  display: inline-block;
  *display: inline;
  padding: 10px 35px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  font-family: roboto;
  vertical-align: middle;
  cursor: pointer;
   *background-color: #F22853;
  background-image: -moz-linear-gradient(top, #F22853, #F22853);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F22853), to(#F22853));
  background-image: -webkit-linear-gradient(top, #F22853, #F22853);
  background-image: -o-linear-gradient(top, #F22853, #F22853);
  background-image: linear-gradient(to bottom, #F22853, #F22853);
  background-repeat: repeat-x;
   border: 0px; 
  *border: 0;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
 
}
.sidebar-btn:hover,
.sidebar-btn:focus,
.sidebar-btn:active,
.sidebar-btn.active,
.sidebar-btn.disabled,
.sidebar-btn[disabled] {
  color: #ffffff;
  background-color: #3b3f41;
  *background-color: #3b3f41;
}


/*blog post detail ------------------------------------------------------------------------------------------------------------------------------*/

#blog-post-icons {
    margin-bottom: 20px;
    margin-right: 15px;
    margin-top: 0;
}

.post-title{
 font-size:24px;
 color:#353c3f;
 line-height:20px;
 font-family:roboto;
 font-weight:normal;
 margin:0px;
}


.blog-detail-content p{
font-size:14px;
font-family:roboto;
color:#989495;
line-height:24px;
margin-top:0px;
}
.blog-post-bg {
 
    margin: 25px 0;
    padding: 0 0 25px;
	
}
.blog-detail-subheading{
color:#3b3f41;
font-size:18px;
font-family:roboto;
line-height:20px;
font-weight:regural;
margin-top:30px;
margin-bottom:18px;
}

ul.service-detail-list{
    margin-left: 15px;
}
ul.service-detail-list li, .blog-post-list li {
    color: #F22853;
    font-size: 16px;
    line-height: 30px;
    list-style: disc outside none;
    padding-left: 7px;
}
ul.service-detail-list li span, .blog-post-list li span {
    color: #5B5F61;
    font-size: 15px;
	font-weight:bold;
}
#blog-detail-comment {
    margin-bottom: 25px;
    margin-top: 30px;
}
.auther-comment-img{
width:70px;
height:70px;

}
.blog-post-heading {
    font-size: 14px;
	color:#2f2f2f;
	line-height:20px;
	font-family:roboto;
    margin: 0 0 10px;
}
.reply {
    float: right;
    font-family: roboto;
    font-size: 14px;
}
.reply a {
    color: #353C3F;
}
.blog-comment-content  p{
font-family: roboto;
font-size: 12px;
line-height:20px;
color:#989495;
}
.blog-comment-content  {
margin-left:30px;
}


#reply-title
{
	border-top: 1px solid #dedede;
	color: #F22853;
	font-size: 24px;
	margin-bottom: 22px;
	margin-top: 60px;
	padding-top: 15px;
	font-family: roboto;
	font-weight: normal;
}
.blog-form-feild{
font-family:roboto;
color:#6b6768;
font-size:14px;
line-height:20px;
margin-bottom:10px;
}


#blog-form-post,a.add_to_cart_button {
	background-color: #F22853;
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: inline-block;
    font-family: roboto;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 30px;
}
.blog-detail-img{
width:770px;
height:450px;

}
.cmt_input_bg{
	background: #f7f7f7;
	border: 1px solid #e0e0e0;
	
}
/* Typography page css here */
.typography-heading {
    border-bottom:1px solid #e7e4e5;
	color: #f22853;
    font-family:roboto;
	line-height:20px;
    font-size: 24px;
    margin-bottom: 50px;
    padding-bottom:30px;
	margin-top:0px;
}
.headingh1{
	color: #201f1f;
    font-family:roboto;
	line-height:20px;
    font-size: 36px;
	margin-top:0px;
	

}
.headingh2{
	color: #201f1f;
    font-family:roboto;
	line-height:20px;
    font-size: 30px;
	margin-top:0px;
	margin-bottom:30px;
}
.headingh3
{
	color: #201f1f;
    font-family:roboto;
	line-height:20px;
    font-size: 24px;
	margin-top:0px;
	
}

.headingh4
{
	color: #201f1f;
    font-family:roboto;
	line-height:20px;
    font-size: 18px;
	margin-top:0px;
	
}
.headingh5{
	color: #201f1f;
    font-family:roboto;
	line-height:20px;
    font-size: 14px;
    margin-top:60px;
	margin-bottom:0px;
}
.headingh6{
	color: #201f1f;
    font-family:roboto;
	line-height:20px;
    font-size: 12px;
    margin-top:60px;
}
.typography-content p {
	color:#9aa1a5;
	font-family:roboto;
	line-height:20px;
    font-size: 12px;
	margin-top:30px;
	margin-bottom:0px;
}

.block-content p {
	color:#9aa1a5;
	font-family:roboto;
	line-height:20px;
    font-size: 12px;
	margin-top:0px;
	margin-bottom:25px;
}

.typo-sub-heading{
	color: #525556;
    font-family:roboto;
	line-height:20px;
	font-weight: 600;
    font-size: 12px;
	margin-bottom:25px;
}

ul.arrow1 li {
    background-image: url("images/arrow1.png");
    background-position: 0 0.3em;
    background-repeat: no-repeat;
    list-style: none outside none;
    margin-bottom: 9px;
    margin-left: 0;
    padding-left: 25px;
	line-height:24px;
	font-size:12px;
	font-family:roboto;
}


#typo{
margin-right: 23px;
}
.typo-para-img {
    display: block;
	width: 140px;
	height:130px;
	margin-bottom:20px;
}
.typo-bold{
	color:#333333;
	font-weight: 600;
}
#typo-media {
    margin-bottom: 20px;
    margin-top: 0;
}
#typo-arrange{
	margin-right: 25px;
    width: 31%;
}
ul.typolist {
	color: #f22853;
	
    margin: 0 10px 25px;
}
ul.typolist li
{
	list-style: disk;
    margin-bottom: 9px;
    margin-left: 5px;
    padding-left: 8px;
	color:#848b8f;
	line-height:24px;
	font-size:12px;
	font-family:roboto;
	}

	

ul.arrow1 li{
	background-image: url("images/arrow1.png");
    background-position: 0 0.3em;
    background-repeat: no-repeat;
    margin-bottom: 9px;
    margin-left: 0px;
    padding-left: 25px;
	list-style: none;
	}
ul.arrow1 {
margin: 0 10px 25px;
}
}	
ul.typo-integer {
	color:#848b8f;
	
    margin: 0 15px 18px;
	
}

ul.arrow1 a {
	color:#848b8f;
	line-height:24px;
	font-size:12px;
	font-family:roboto;
}
ul.typo-integer li {
    margin-bottom: 9px;
    margin-left: 5px;
    padding-left: 0px;
	list-style: decimal outside none;
	color:#848b8f;
	line-height:24px;
	font-size:12px;
	font-family:roboto;
}
.coma {
	border: 0px;
	margin: 0 0 20px;
	padding: 20px;
	background: #ffffff url("images/coma.png");
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 0px;
	border-left: 0px ;
  
  }
span.blockquote-pink {
	background-color: #f22853;
	border: 0px;
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	padding: 2px;
  }
span.blockquote-black {
	background-color: #000000;
	border: 0px;
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	padding: 2px;
  }
  span.blockquote-pink-large {
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	color: #f22853;
}
  span.blockquote-black-large {
	border: 0px;
	margin: 0px;
	padding: 0px;
	color: #2d292a;
	font-size: 18px;
}
 #typo p{
	color: #818A95;
}
.content-blockquote p{
	color:#2e2c2d;
	font-size:14px;
	line-height:20px;
	font-family:roboto;
}
.typo-quote p{
	color:#757575;
	font-size:14px;
	line-height:20px;
	font-family:roboto;

	}
blockquote.arrange {
	background: #ffffff;
    border: 0 none;
    margin: 0px;
    padding: 20px 0px;
    text-indent: 0;
}
span.first
{
	float: left;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: -0.25em;
    margin-right: 0.1em;
}
span.second
{
	background: none repeat scroll 0 0 #F22853;
    color: #FFFFFF;
    float: left;
    font-size: 60px;
    line-height: 68px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 7px;
}
.content-object{
	display: bolck;
	width: 360px;
	height: 200px;
	-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
		  border: 1px solid #d9d3d6;
}
.typo-img-caption{
 font-family:roboto;
 color:#2d292a;
 font-size:21px;
 line-height:20px;
 margin:0 0 28px 0; 
}

.content-thumb {
  display: block;
  padding: 0px 0px 10px;
  line-height: 20px;
  border: 0px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

a.content-thumb:hover,
a.thumbnail:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.content-thumb > img {
  display: block;
    margin: 0;
    max-width: 100%;
    padding: 0;
}

.content-thumb .caption {
  padding: 20px 0;
  color: #555555;
  float: left;
}
.content-thumb .caption p{
	margin-bottom: 30px;
}
.btn-thumb-red {
  display: inline-block;
  *display: inline;
  padding: 10px 35px;
  margin-bottom: 0;
  *margin-left: .3em;
  margin-right: 10px;
  font-size: 16px;
  font-family: roboto;
  line-height: 20px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #F22853;
  *background-color: #F22853;
  background-image: -moz-linear-gradient(top, #F22853, #F22853);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F22853), to(#F22853));
  background-image: -webkit-linear-gradient(top, #F22853, #FF22853);
  background-image: -o-linear-gradient(top, #F22853, #F22853);
  background-image: linear-gradient(to bottom, #F22853, #F22853);
  background-repeat: repeat-x;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
 		  margin-top:3px;
		  float:left;
		  border: 0px;
}
.btn-thumb-red:hover{
	color: #ffffff;
	background: #3b3f41;
}
.btn-thumb-black:hover{
	color: #ffffff;
	background: #3b3f41;
}
.btn-thumb:hover,
.btn-thumb:focus,
.btn-thumb:active
{
  color: #ffffff;
  background-color: #2d292a;
  *background-color: #2d292a;
  background-image: -moz-linear-gradient(top, #2d292a, #2d292a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d292a), to(#2d292a));
  background-image: -webkit-linear-gradient(top, #2d292a, #2d292a);
  background-image: -o-linear-gradient(top, #2d292a, #2d292a);
  background-image: linear-gradient(to bottom, #2d292a, #2d292a);
  background-repeat: repeat-x;
}
.btn-thumb-black {
  display: inline-block;
  *display: inline;
  padding: 10px 35px;
  margin-bottom: 0;
  *margin-left: .3em;
  margin-right: 10px;
  font-size: 16px;
  font-family: roboto;
  line-height: 20px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #2d292a;
  *background-color: #2d292a;
  background-image: -moz-linear-gradient(top, #2d292a, #2d292a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d292a), to(#2d292a));
  background-image: -webkit-linear-gradient(top, #2d292a, #2d292a);
  background-image: -o-linear-gradient(top, #2d292a, #2d292a);
  background-image: linear-gradient(to bottom, #2d292a, #2d292a);
  background-repeat: repeat-x;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
 		  margin-top:3px;
		  float:left;
		  border: 0px;
}

.btn-thumb1:hover,
.btn-thumb1:focus,
.btn-thumb1:active
{
  color: #ffffff;
  background-color: #F22853;
  *background-color: #F22853;
  background-image: -moz-linear-gradient(top, #F22853, #F22853);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F22853), to(#F22853));
  background-image: -webkit-linear-gradient(top, #F22853, #F22853);
  background-image: -o-linear-gradient(top, #F22853, #F22853);
  background-image: linear-gradient(to bottom, #F22853, #F22853);
  background-repeat: repeat-x;
}
/* Column Page css here */
.column{
	color: #F22853;
    font-family: roboto;
    font-size: 24px;
    font-weight: normal;
    line-height: 25px;
    margin-bottom: 55px;
    margin-top: 0;
}
.column-content p
{
 font-family:roboto;
 font-size:12px;
 color:#9aa1a5;
 line-height:20px;
 text-align:justify;
}
/* Shortcode Page css here------------------------------------------------------------------------------------------------------- */
.shortcode-head{
	font-family: roboto;
	color: #201f1f;
	font-size: 24px;
	font-weight: normal;
	line-height: 25px;
    margin: 0 0 30px;
}
.spa-btn {
  display: inline-block;
  *display: inline;
  padding: 4px 27px;
  margin-bottom: 15px;
    margin-right: 10px;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  font-family: roboto;
  vertical-align: middle;
  cursor: pointer;
  background-repeat: repeat-x;
   border: 0px; 
  *border: 0;
  text-transform: uppercase;
  font-family: Raleway-Medium;
}
.pink{
  background-color: #F22853;
  *background-color: #F22853;
  background-image: -moz-linear-gradient(top, #F22853, #F22853);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F22853), to(#F22853));
  background-image: -webkit-linear-gradient(top, #F22853, #F22853);
  background-image: -o-linear-gradient(top, #F22853, #F22853);
  background-image: linear-gradient(to bottom, #F22853, #F22853);
}
.green{
  background-color: #5ebc2b;
  *background-color: #5ebc2b;
  background-image: -moz-linear-gradient(top, #5ebc2b, #5ebc2b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5ebc2b), to(#5ebc2b));
  background-image: -webkit-linear-gradient(top, #5ebc2b, #5ebc2b);
  background-image: -o-linear-gradient(top, #5ebc2b, #5ebc2b);
  background-image: linear-gradient(to bottom, #5ebc2b, #5ebc2b);
}
.grey{
  background-color: #414b56;
  *background-color: #414b56;
  background-image: -moz-linear-gradient(top, #414b56, #414b56);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414b56), to(#414b56));
  background-image: -webkit-linear-gradient(top, #414b56, #414b56);
  background-image: -o-linear-gradient(top, #414b56, #414b56);
  background-image: linear-gradient(to bottom, #414b56, #414b56);
}
.skyblue{
  background-color: #1bb7de;
  *background-color: #1bb7de;
  background-image: -moz-linear-gradient(top, #1bb7de, #1bb7de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1bb7de), to(#1bb7de));
  background-image: -webkit-linear-gradient(top, #1bb7de, #1bb7de);
  background-image: -o-linear-gradient(top, #1bb7de, #1bb7de);
  background-image: linear-gradient(to bottom, #1bb7de, #1bb7de);
}
.silver{
  color: #414b56;
  background-color: #f3f3f3;
  *background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: -o-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: linear-gradient(to bottom, #f3f3f3, #f3f3f3);
}
.orange{
  background-color: #e87c2d;
  *background-color: #e87c2d;
  background-image: -moz-linear-gradient(top, #e87c2d, #e87c2d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e87c2d), to(#e87c2d));
  background-image: -webkit-linear-gradient(top, #e87c2d, #e87c2d);
  background-image: -o-linear-gradient(top, #e87c2d, #e87c2d);
  background-image: linear-gradient(to bottom, #e87c2d, #e87c2d);
}
.purple{
  background-color: #4b68b2;
  *background-color: #4b68b2;
  background-image: -moz-linear-gradient(top, #4b68b2, #4b68b2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4b68b2), to(#4b68b2));
  background-image: -webkit-linear-gradient(top, #4b68b2, #4b68b2);
  background-image: -o-linear-gradient(top, #4b68b2, #4b68b2);
  background-image: linear-gradient(to bottom, #4b68b2, #4b68b2);
}
.aqua{
  background-color: #d75479;
  *background-color: #d75479;
  background-image: -moz-linear-gradient(top, #d75479, #d75479);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d75479), to(#d75479));
  background-image: -webkit-linear-gradient(top, #d75479, #d75479);
  background-image: -o-linear-gradient(top, #d75479, #d75479);
  background-image: linear-gradient(to bottom, #d75479, #d75479);
}
.yellow{
  background-color: #f0ba00;
  *background-color: #f0ba00;
  background-image: -moz-linear-gradient(top, #f0ba00, #f0ba00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0ba00), to(#f0ba00));
  background-image: -webkit-linear-gradient(top, #f0ba00, #f0ba00);
  background-image: -o-linear-gradient(top, #f0ba00, #f0ba00);
  background-image: linear-gradient(to bottom, #f0ba00, #f0ba00);
}
.red{
  background-color: #ea3128;
  *background-color: #ea3128;
  background-image: -moz-linear-gradient(top, #ea3128, #ea3128);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ea3128), to(#ea3128));
  background-image: -webkit-linear-gradient(top, #ea3128, #ea3128);
  background-image: -o-linear-gradient(top, #ea3128, #ea3128);
  background-image: linear-gradient(to bottom, #ea3128, #ea3128);
}
.btn:hover,
.btn:focus,
.pink:hover,
.pink:focus,
.green:hover,
.green:focus,
.grey:hover,
.grey:focus,
.skyblue:hover,
.skyblue:focus,
.silver:hover,
.silver:focus,
.orange:hover,
.orange:focus,
.purple:hover,
.purple:focus,
.aqua:hover,
.aqua:focus,
.yellow:hover,
.yellow:focus,
.red:hover,
.red:focus {
  color: #ffffff;
  text-decoration: none;
  background: #3b3f41;
  background-position: 0 -15px; 
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
.spa-btn-large {
    border-radius: 0px;
    font-size: 14px;
    padding: 7px 35px;
	text-transform: uppercase;
	font-family: Raleway-Medium;
}
.btn-mini{
	margin-bottom: 15px;
    margin-right: 10px;
	}
.btn-mini {
    border-radius: 0px;
    padding: 2px 10px;
    font-size: 12px;
    text-transform: uppercase;
	font-family: Raleway-Medium;
}

 
ul.redarrow, ul.arrow, ul.upper {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



ul.redarrow li a, ul.arrow li a, ul.upper li a, ol li a, ul.typolist, ul.arrow1 li a, ul.typo-integer li a {
    color: #6A7179;
    font-family: roboto;
    line-height: 32px;
}



ol li {
    margin-bottom: 9px;
    padding-left: 5px;
}

ul.upper li {
    list-style: upper-roman outside none;
    margin-bottom: 9px;
    margin-left: 5px;
    padding-left: 5px;
}
ul.upper li {
    list-style: upper-roman outside none;
} 
ul.redarrow, ul.arrow, ul.upper {
    list-style-type: none;
}


.spa-blockquote {
    background: none repeat scroll 0 0 #F3F3F3;
    border-left: 5px solid #E3365B;
    margin: 0 0 20px;
    padding: 20px;
}
.spa-blockquote p {
    color: #818A95;
    font-family: DroidSerifItalic;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 0;
}
.spa-blockquote small {
    color: #F22853;
    display: block;
    font-size: 14px;
    line-height: 29px;
}
.pagination ul > li > a,
.pagination ul > li > span{
	font-size: 14px;
    line-height: 20px;
    padding: 8px 15px;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span{
	color: #9a9697;
}
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span{
	color: #9a9697;
}
.pagination ul > li > a, .pagination ul > li > span{	
	color: #4a4849;
}
.pager li > a, .pager li > span{
	 -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
		  padding:  8px 15px;
}
.pager li > a, .pager li > span{
	color: #4a4849;
}
.pagi ul > .active > a, .pagi ul > .active > span {
    border: 1px solid #DE143E;
    color: #FFFFFF;
    cursor: pointer;
}
.pagi ul > li > a:hover, .pagi ul > li > a.active, .pagi ul > li > a:focus, .pagi ul > .active > a, .pagi ul > .active > span {
    background-color: #EE395F;
	color: #ffffff;
}

.nav-tabs > li > a{
	font-family: roboto;
	font-size: 16px;
	color: #000;
}

/*CSS for Fullwidth Page*/
.full-width-img{
	width:100%;
	height:355px;
}
#comment-img{
	margin-left:85px;
	
}
.full-subcontent {
     margin: 25px 0;
    padding: 0 0 25px;
}
.fullwidth-content p {
	font-size:14px;
	font-family:roboto;
	line-height:24px;
	
	
}

/* servce detail page------------ ----------------------------------------------------------------------------------------------------------------*/
/* Pikachoose slider Css here */
.pikachoose {
    float: left;
    margin-bottom: 59px;
    width: 770px;
}
.pika-stage {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 0 none;
    padding: 0px 0px 40px;
    position: relative;
    text-align: center;
	 width: 770px;
}

.pikachoose a img {

     height:450px;
    width: 770px;
}

.pika-imgnav a.pause {
   /* background: url("../images/pause.png") no-repeat scroll 0 50% transparent;*/
    cursor: pointer;
    display: none;
    height: 100px;
    left: 50%;
    top: 0;
    width: 44px;
}
.pika-imgnav a.previous {
    /*background: url("../images/prev01.png") no-repeat scroll left 45% transparent;*/
    cursor: pointer;
    height: 100%;
    left: 10px;
    top: 10px;
    width: 50px;
}
.pika-imgnav a {
    display: block;
    position: absolute;
    text-indent: -5000px;
    z-index: 3;
}
.pika-counter {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border-radius: 5px 5px 5px 5px;
    bottom: 45px;
    color: white;
    font-size: 11px;
    left: 15px;
    padding: 3px;
    position: absolute;
}
.pika-stage .caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    border: 1px solid #141414;
    bottom: 50px;
    color: #FAFAFA;
    font-size: 11px;
    padding: 10px;
    position: absolute;
    right: 10px;
    text-align: right;
}

.pika-textnav {
    bottom: 10px;
    margin: 10px 0 0;
    overflow: hidden;
    position: absolute;
}
.pika-stage .pika-textnav {
    width: 725px;
}
.pika-textnav a.previous {
    display: block;
    float: left;
    width: auto;
}
.pika-textnav a {
    color: #333333;
    font-size: 12px;
    padding: 4px;
    text-decoration: none;
}
.pika-textnav a.next {
    display: block;
    float: right;
    width: auto;
}

.pika-thumbs {
    height: 75px;
    margin-top: 15px;
    padding: 0 40px;
}

.pika-thumbs li {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    float: left;
    height: 65px;
    list-style-type: none;
    margin: 10px 5px 0;
    overflow: hidden;
    padding: 0px;
    width: 65px;
}
.pika-thumbs li .clip {
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.pika-thumbs li .clip {
    text-align: center;
}
/* Close of Pikachoose */
.sidebar-topspacer
{
margin-top:50px;
}
.service-detail-content-head
{
 font-family:roboto;
 font-size:18px;
 color:#3b3f41;
 font-weight: normal;
}
.service-detail-content 
{
padding-right:100px;
}

.service-detail-content p
{
	font-size:12px;
font-family:roboto;
color:#989495;
line-height:24px;
margin-top:25px;
}	
.service_detail_head
{
font-size:24px;
font-family:roboto;
color:#353c3f;
line-height:21px;
margin:0px 0px 30px;

}


.service-detail-bg {
    background: none repeat scroll 0 0 #F2F2F2;
    margin: 25px 0;
    padding: 17px;
}
.service-detail-heading {
    color: #3B3F41;
    line-height: 20px;
    margin: 0 0 15px;
	font-size: 18px;
	font-weight: normal;
}
ul.service-detail-list{
    margin-left: 15px;
}
.blog-post-list {
	margin-left: 0px;
}

ul.service-detail-list li, .blog-post-list li {
    color: #F22853;
    font-size: 15px;
    line-height: 30px;
    list-style: disc outside none;
    padding-left: 7px;
}
ul.service-detail-list li span, .blog-post-list li span {
    color: #5B5F61;
    font-family: roboto;
    font-size: 15px;
    line-height: 30px;
	font-weight: normal;
}

/* Shortcode Page css here----------------------------------------------------------------------------------------*/
.shortcode-head{
	font-family: roboto;
	color: #201f1f;
	font-size: 24px;
	font-weight: normal;
	line-height: 25px;
    margin: 0 0 30px;
}
.spa-btn {
  display: inline-block;
  *display: inline;
  padding: 4px 27px;
  margin-bottom: 15px;
    margin-right: 10px;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  font-family: roboto;
  vertical-align: middle;
  cursor: pointer;
  background-repeat: repeat-x;
   border: 0px; 
  *border: 0;
  text-transform: uppercase;
  font-family: Raleway-Medium;
}
.pink{
  background-color: #F22853;
  *background-color: #F22853;
  background-image: -moz-linear-gradient(top, #F22853, #F22853);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F22853), to(#F22853));
  background-image: -webkit-linear-gradient(top, #F22853, #F22853);
  background-image: -o-linear-gradient(top, #F22853, #F22853);
  background-image: linear-gradient(to bottom, #F22853, #F22853);
}
.green{
  background-color: #5ebc2b;
  *background-color: #5ebc2b;
  background-image: -moz-linear-gradient(top, #5ebc2b, #5ebc2b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5ebc2b), to(#5ebc2b));
  background-image: -webkit-linear-gradient(top, #5ebc2b, #5ebc2b);
  background-image: -o-linear-gradient(top, #5ebc2b, #5ebc2b);
  background-image: linear-gradient(to bottom, #5ebc2b, #5ebc2b);
}
.grey{
  background-color: #414b56;
  *background-color: #414b56;
  background-image: -moz-linear-gradient(top, #414b56, #414b56);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414b56), to(#414b56));
  background-image: -webkit-linear-gradient(top, #414b56, #414b56);
  background-image: -o-linear-gradient(top, #414b56, #414b56);
  background-image: linear-gradient(to bottom, #414b56, #414b56);
}
.skyblue{
  background-color: #1bb7de;
  *background-color: #1bb7de;
  background-image: -moz-linear-gradient(top, #1bb7de, #1bb7de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1bb7de), to(#1bb7de));
  background-image: -webkit-linear-gradient(top, #1bb7de, #1bb7de);
  background-image: -o-linear-gradient(top, #1bb7de, #1bb7de);
  background-image: linear-gradient(to bottom, #1bb7de, #1bb7de);
}
.silver{
  color: #414b56;
  background-color: #f3f3f3;
  *background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: -o-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: linear-gradient(to bottom, #f3f3f3, #f3f3f3);
}
.orange{
  background-color: #e87c2d;
  *background-color: #e87c2d;
  background-image: -moz-linear-gradient(top, #e87c2d, #e87c2d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e87c2d), to(#e87c2d));
  background-image: -webkit-linear-gradient(top, #e87c2d, #e87c2d);
  background-image: -o-linear-gradient(top, #e87c2d, #e87c2d);
  background-image: linear-gradient(to bottom, #e87c2d, #e87c2d);
}
.purple{
  background-color: #4b68b2;
  *background-color: #4b68b2;
  background-image: -moz-linear-gradient(top, #4b68b2, #4b68b2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4b68b2), to(#4b68b2));
  background-image: -webkit-linear-gradient(top, #4b68b2, #4b68b2);
  background-image: -o-linear-gradient(top, #4b68b2, #4b68b2);
  background-image: linear-gradient(to bottom, #4b68b2, #4b68b2);
}
.aqua{
  background-color: #d75479;
  *background-color: #d75479;
  background-image: -moz-linear-gradient(top, #d75479, #d75479);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d75479), to(#d75479));
  background-image: -webkit-linear-gradient(top, #d75479, #d75479);
  background-image: -o-linear-gradient(top, #d75479, #d75479);
  background-image: linear-gradient(to bottom, #d75479, #d75479);
}
.yellow{
  background-color: #f0ba00;
  *background-color: #f0ba00;
  background-image: -moz-linear-gradient(top, #f0ba00, #f0ba00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0ba00), to(#f0ba00));
  background-image: -webkit-linear-gradient(top, #f0ba00, #f0ba00);
  background-image: -o-linear-gradient(top, #f0ba00, #f0ba00);
  background-image: linear-gradient(to bottom, #f0ba00, #f0ba00);
}
.red{
  background-color: #ea3128;
  *background-color: #ea3128;
  background-image: -moz-linear-gradient(top, #ea3128, #ea3128);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ea3128), to(#ea3128));
  background-image: -webkit-linear-gradient(top, #ea3128, #ea3128);
  background-image: -o-linear-gradient(top, #ea3128, #ea3128);
  background-image: linear-gradient(to bottom, #ea3128, #ea3128);
}
.btn:hover,
.btn:focus,
.pink:hover,
.pink:focus,
.green:hover,
.green:focus,
.grey:hover,
.grey:focus,
.skyblue:hover,
.skyblue:focus,
.silver:hover,
.silver:focus,
.orange:hover,
.orange:focus,
.purple:hover,
.purple:focus,
.aqua:hover,
.aqua:focus,
.yellow:hover,
.yellow:focus,
.red:hover,
.red:focus {
  color: #ffffff;
  text-decoration: none;
  background: #3b3f41;
  background-position: 0 -15px; 
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
.spa-btn-large {
    border-radius: 0px;
    font-size: 14px;
    padding: 7px 35px;
	text-transform: uppercase;
	font-family: Raleway-Medium;
}
.btn-mini{
	margin-bottom: 15px;
    margin-right: 10px;
	}
.btn-mini {
    border-radius: 0px;
    padding: 2px 10px;
    font-size: 12px;
    text-transform: uppercase;
	font-family: Raleway-Medium;
}

 
ul.redarrow, ul.arrow, ul.upper {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.redarrow li {
    background-image: url("images/red-arrow.png");
    background-position: 0 0.7em;
    background-repeat: no-repeat;
    margin-bottom: 9px;
    margin-left: 0px;
    padding-left: 25px;
	line-height:32px;
	font-family:roboto;
}

ul.redarrow li a, ul.arrow li a, ul.upper li a, ol li a, ul.typolist, ul.arrow1 li a, ul.typo-integer li a {
    color: #6A7179;
    font-family: roboto;
    line-height: 32px;
}

ul.arrow li {
    background-image: url("images/arrow.png");
    background-position: 0 0.7em;
    background-repeat: no-repeat;
    margin-bottom: 9px;
    margin-left: 0px;
    padding-left: 25px;
	line-height:32px;
	font-family:roboto;
}

ol li {
    margin-bottom: 9px;
    padding-left: 5px;
}

ul.upper li {
    list-style: upper-roman outside none;
    margin-bottom: 9px;
    margin-left: 5px;
    padding-left: 5px;
}
ul.upper li {
    list-style: upper-roman outside none;
} 
ul.redarrow, ul.arrow, ul.upper {
    list-style-type: none;
}
blockquote.nu {
	color: #818a95;
	padding: 20px;
	font-size: 24px;
	padding-left: 15px;
	border-left: 5px solid #e3365b;
	background: #f3f3f3;
	font-family: DroidSerifItalic;
}

blockquote.nu p { 
	position: relative;
	padding: 10px 20px 5px 30px;
	font-size:18px;
	line-height:30px;
}

blockquote.nu p:before {
content: '"';
font-size: 36px;
position: absolute;
    top: -5px;
    left: 10px;

}
blockquote.nu p:after {
content: "\"";
    float: right;
    font-size: 36px;
}
}
blockquote.nu p {
	font-family: DroidSerifItalic;
	font-size: 18px;

}






/* .pagination ul > li > a,
.pagination ul > li > span{
	font-size: 14px;
    line-height: 20px;
    padding: 8px 15px;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span{
	color: #9a9697;
}
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span{
	color: #9a9697;
}
.pagination ul > li > a, .pagination ul > li > span{	
	color: #4a4849;
}
.pager li > a, .pager li > span{
	 -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
		  padding:  8px 15px;
}
.pager li > a, .pager li > span{
	color: #4a4849;
}
.pagi ul > .active > a, .pagi ul > .active > span {
    border: 1px solid #DE143E;
    color: #FFFFFF;
    cursor: pointer;
} */


.nav-tabs > li > a{
	font-family: roboto;
	font-size: 16px;
	color: #000;
}
.plus {
    float:left;
    width:20px;
    height:20px;
    text-align:center;
    font-size:22px;
	font-family: arial;
    font-weight:bold;
    border:1px solid #dfdfdf;
    background:#fff;
    margin:0 5px 0 0;
    color:#666;
	line-height: 20px;
}
.tab-content p
{
  font-family: roboto;
	line-height: 20px;
	text-align: left;
}

/* Main Slider Thumbnails Area */
.slider-thumb-container{
	background: #ffffff;
	
	position: absolute;
	left: 0px;
	right: 0px;

	bottom: 0em;
	z-index: 1; 
    overflow: hidden; 
	margin:0px auto;
	height:155px;
    padding-top:19px;
	display:block;

}
.thumb-img-container
 {  
    height: 155px;
    width:31.3%;  
   float:left;
     margin-left:1.50%;
  
 }
 
.slider-thumb{
	
	display: block;
    height: 155px;
	 width:100%; 
	padding: 0px;

}
.flex-thumbnal-area {
    bottom: 119.8px;
    height: 120px;
    overflow: hidden;
    position: relative;
    width: 200px;
    z-index: 0;
}
#flex_carousel li {
    cursor: pointer;
}
.flex-thumbnal-area span {
    color: #6D6962;
    font-family: Raleway-Light;
    font-size: 12px;
    line-height: 20px;
    padding-left: 20px;
    text-transform: uppercase;
}

.flex-thumbnal-area span h4 {
    color: #4B453F;
    font-family: Raleway-Sbold;
    font-size: 21px;
    line-height: 24px;
    margin-top: 0;
    padding-left: 20px;
    text-transform: uppercase;
}
.flex-btn {
    background: none repeat scroll 0 0 #4B453F;
    border: 0 none;
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-family: Raleway-Sbold;
    font-size: 12px;
    font-weight: 600;
    height: 34px;
    line-height: 35px;
    padding: 0 25px;
    position: absolute;
    text-transform: uppercase;
}
.flex-thumbnal-area a:hover, .flex-thumbnal-area a:focus{
       color: #ffffff;
}

@media (min-width: 1025px) and (max-width: 1152px) { 

.slider-thumb-container{
bottom: 0em;
}


}




/* Ending Main Slider Thumbnails Area  */

/* Footer Css ------------------------------------------------------------------------------------------------------------------*/


footer li a{
	color: #626668;
    font-family: roboto;
    font-size: 13px;
	margin-right: 15px;
}
footer li a:hover, footer li a:active{
	color: #f22853;
	text-decoration: none;
}
.footer_nav_links {
    margin: 0px;
	
}
.footer_nav_links li {
    display: inline;line-height: 20px;
}

footer p{
     
	font-family: roboto;
	color: #626668;
	font-size: 14px;
}
footer{
    /* border-top: 1px solid #e5e5e5; */
	margin: 0px;
	padding-bottom: 30px;
    padding-top: 30px;

}
.footer_full{
	border-top: 1px solid #e5e5e5;
}
.footer_spacer{
  margin-top:62px;
}
.footer-blank {
    margin-top: 100px;
}

.service-2c-footer-blank
{
margin-bottom:-15px;
}



/*css for comment */

.commentlist { margin: 0 }
.commentlist li { list-style: none; margin: 0; }
.children li.depth-2 { margin: 0 0 0px 75px }
.children li.depth-3 { margin: 0 0 0px 75px }
.children li.depth-4 { margin: 0 0 0px 75px }
.children li.depth-5 { margin: 0 0 0px 75px }
.children li.depth-6 { margin: 0 0 0px 65px }
.children li.depth-7 { margin: 0 0 0px 65px }
.children li.depth-8 { margin: 0 0 0px 65px }
.children li.depth-9 { margin: 0 0 0px 65px }
.children li.depth-10 { margin: 0 0 0px 65px }
.comment-body {
	margin-bottom: 10px; 
	padding-bottom: 15px; 
	border: 0px; 
	-webkit-border-radius:0px; 
	-moz-border-radius:0px; 
	border-radius:0px; }
.comment-details{ position: relative; margin-left: 70px; margin-top:15px;padding-left: 20px; }

.comment-avatar{ 
left: -70px;
    position: absolute;
    top: 0px;
	

	}
.comment-avatar img {
    -webkit-border-radius: 0px;
		-moz-border-radius: 0px;
			 border-radius: 0px;
}
	

	

.comment-author .author a:link, .comment-author .author a:visited { font-size: 12px; color: #000; font-weight: bold }
.comment-author .author a:hover { color: #999 }
.comment-content{ margin-top: 10px }
.comment-reply-link, #cancel-comment-reply-link { display: inline-block; font-size: 14px; font-weight: bold; }
#cancel-comment-reply-link{ color: #C30; font-size: 12px }
.comment-reply-link:hover, #cancel-comment-reply-link:hover { color: #000 }
.commentlist .children { margin: 0 }
#comments-title { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding-top: 10px; padding-bottom: 10px; margin-top: 30px; background: #fbfbfb; text-align: center; color: #222 }
#comments_wrap { margin-top: 15px }
#comments-logged-in { margin-bottom: 30px; margin-top: 10px; font-size: 12px; }
#log-out { float: right; margin-top: -56px; }
#cancel-comment-reply { float: right; margin-top: 5px; }
.contact-icons li
{
	margin-bottom: 5px;
	font-family: roboto;
}

	

.comment-details ul { 
	margin: 0;
	}
.comment-details ul li { 
	font-size: 12px; padding-bottom: 8px; 
	padding-top: 8px;
	list-style:square outside none;
	}
.comment-details ol li { 
	font-size: 12px;
	padding-bottom: 8px;
	padding-top: 8px;
	list-style:upper-alpha outside none;
	}

.comment-content ul, .comment-content ol {
    margin-bottom: 1.625em;
	margin-left: 50px;
}






li {
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/

.comment-author
 { 
    color: #2F2F2F;
    font-family: roboto;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 30px;
	font-weight: 600;
 }
fieldset p{
	font-family: roboto;
	font-size: 12px;
}
.comment-content p 
{ 

  color: #989495;
    font-family: roboto;
	font-weight: normal;
}.comment-date
{   color: #AAAAAA;
    font-family: roboto;
    font-size: 14px;
    margin-left: 17px;
}
.comment-date a 
{  
    color: #AAAAAA;
    font-family: roboto;
    font-size: 14px;
    margin-left: 17px; 
}

.comment-date
{   color: #AAAAAA;
    font-family: roboto;
    font-size: 14px;
    margin-left: 17px;
	font-weight: normal;
}
.comment-date a 
{  
    color: #AAAAAA;
    font-family: roboto;
    font-size: 14px;
    margin-left: 17px; 
}

.comment_mn
{

border-top:1px solid #DEDEDE;
}

/* Widget Area Css */

#calendar_wrap{
    float: left;
    width: 100%;
}
#wp-calendar caption{
    font-weight: 600;
    font-size: 16px;
    font-family: Raleway-Medium;
    margin-bottom: 5px;
    color: #000;
}
#wp-calendar .table th, #wp-calendar .table td{
    font-family: Raleway-Medium;
}

.table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #F22853;
}
.table-striped { 
  -webkit-border-radius: 4px 4px 4px 4px;
     -moz-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
}
.blog-detail-content h1,
.blog-detail-content h2,
.blog-detail-content h3,
.blog-detail-content h4,
.blog-detail-content h5,
.blog-detail-content h6{
	color: #201F1F;
    font-family: roboto;
    line-height: 20px;
    margin-top: 0;
}
.blog-detail-content h1{
    font-size: 36px;
}
.blog-detail-content h2{
    font-size: 30px;
}
.blog-detail-content h3{
    font-size: 24px;
}
.blog-detail-content h4{
    font-size: 18px;
}
.blog-detail-content h5{
    font-size: 14px;
}
.blog-detail-content h6{
	font-size: 12px;
}
 
.blog-detail-content ul li{
	background-image: url("images/blog-detail-list.png");
    background-position: 0 0.6em;
    background-repeat: no-repeat;
    list-style: none outside none;
    margin-bottom: 9px;
    margin-left: 0;
    padding-left: 25px;
	font-family: roboto;
	line-height:24px;
}
.blog-detail-content ol li{
	color: #848B8F;
    font-family: roboto;
    list-style: decimal outside none;
    margin-bottom: 9px;
    margin-left: 5px;
    padding-left: 0;
}
.blog-detail-content strong{
	color: #424040;
    font-family: roboto;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 15px;
    padding: 0;
}

.blog-detail-content address{
    color: #7A7A7A;
    font-family: roboto;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
	font-style: italic;
}
.blog-detail-content a{
	color:#F22853;
}
.blog-detail-content a:hover{
	color: #000;
}
acronym, abbr 
{
	border-bottom: 1px dotted #666;
	cursor: help;
}
ins {
	
	text-decoration: underline;
}


/*According Theme Check Plugin */
.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 4px;
}

.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #757575;
}
article.sticky .featured-post {
	border-top: 4px double #ededed;
	border-bottom: 4px double #ededed;
	color: #757575;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 3.692307692;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
	text-align: center;
}
.comments-area li.bypostauthor cite span {
	position: absolute;
	margin-left: 5px;
	margin-left: 0.357142857rem;
	padding: 2px 5px;
	padding: 0.142857143rem 0.357142857rem;
	font-size: 10px;
	font-size: 0.714285714rem;
}
.alignleft {
	float: left;
	display: inline;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
    float: right;
    margin-left: 1.625em;
}
.aligncenter {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*css for image border in custom widget*/
#custom-wzrp :last-child
{
  border-bottom:0px;
}

#cw-img-border
{
  border: 1px solid #e7e7e7;
  	-webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}




/* -------- Blog Icon Backgroud Image --------*/
.spa-blog-icon {
	font-family: roboto;
	list-style: none outside none;
	margin-left: 0;
	width: 150px;
	}
.admin-icon {
	background-image: url("images/admin_icon.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 3px 0 3px 23px;
	margin: .4em 0;
	border-bottom: 1px solid #DEDEDE;
	display: flex;
}
.calendar-icon {
	background-image: url("images/calendar_icon.png") ;
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 3px 0 3px 23px;
	margin: .4em 0;
	border-bottom: 1px solid #DEDEDE;
}
.blog-comment-icon {
	background-image: url("images/comment_icon.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 3px 0 3px 23px;
	margin: .4em 0;
	
}

.flex-btn:hover { background-color: #F22853; }
.aboutus-service-head:hover { color: #f22853; }


/*css for widget */

#sidebar ul li a,.textwidget{ color:#7A8082; font-family:roboto;font-size:14px; line-height:24px;}
#sidebar ul li a:hover{ font-family:roboto;font-size:14px;}
.widget_archive ul,#sidebar ul,.widget_categories ul,.widget_recent_comments  ul{ margin-bottom:25px; margin-left:0px;word-wrap:break-word;word-break:break-all; ms-word-wrap: break-word;}

/*css for table*/

.comment-content table {
	border-bottom: 1px solid #ededed;
	color: #757575;
	font-size: 14px;
	font-weight: 200;
	
	margin: 0;
	width: 100%;
}
.comment-content th {
    color: #636363;
    font-size: 0.785714rem;
    font-weight: bold;
    line-height: 2.18182;
    text-transform: uppercase;
}
td{padding-left:10px;}

/*****More Stylings For Tables*/
table {
border: 1px solid #dddddd;
border-collapse: separate;
/* border-left: 0; */
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
width: 100%;
font-family: 'roboto';
font-size:14px;
}
table td {
border-left: 1px solid #dddddd;
padding: 8px;
line-height: 20px;
text-align: center;
vertical-align: top;
border: 1px solid #dddddd;
}

/* Woocommerce styles*/

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
     font-family: roboto !important;
    font-size: 16px !important;
}

.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
    color: #f22853;
     font-family: roboto;
    font-size: 16px;
    font-weight: 600 !important;    
}
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 100px !important;
}
.woocommerce table td{line-height:60px !important;}
.woocommerce table.shop_table, .woocommerce-page table.shop_table {
    border-collapse: separate;
    text-align: center !important;
}

.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before,.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before,.woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before,.woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before{ background-color:#f22853 !important;}

.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info {
    border-top: 3px solid #f22853 !important;
}
div.tab-reviews textbox#comment{color: #555555;}

div.product h1 {
 font-family: roboto;
 color: #353c3f;
    font-size: 24px;
    font-weight: normal;
    line-height: 21px;
    margin-bottom: 0;
    margin-top: 6px !important;
    padding-bottom: 15px !important;
}
div#payment label{display:inline-block;}

.woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li
{
list-style-type: none !important;
}
.woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text { margin-top: 15px !important;}
#ship-to-different-address label
{
 font-weight: normal !important;
line-height: 20px !important;
margin-bottom: -10px;
}

#ship-to-different-address input[type="checkbox"]
{
float:left;
margin: -8px 0 -4px;
}
div#payment ul li {	background:none;}

/*Homepage blog css------------------------------------------------------------------------------------------------------------------------*/
.blog_section { padding: 0 0 0px; }
.home_post_area { margin-bottom: 60px; }
.home-blog-post-img {
    margin-bottom: 20px;
    margin-top: 0px;
    width: 100%;
	overflow: hidden;
	position: relative;
	transition: all 200ms ease-out 0s;
}
.home-blog-post-img img { transition: all 300ms ease-out 0s; width: 100%; opacity: 1; }
.home-blog-post-img img:hover { opacity: 0.9; }
span.post-date {
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    color: #ffffff;
    top: 0;
	width: 50px;
	font-family: "Dosisbold";
    font-size: 20px;
	padding: 6px 10px;
    position: absolute;
	letter-spacing: 0px;
    left: 0;
    text-align: center;
    z-index: 1;
	white-space: nowrap;
}
span.post-date small { font-family: "Dosissemibold"; font-size: 13px; letter-spacing: 0.5px; padding: 0 0 0 4px; }
span.post-date .date {
    background-color: transparent;
    color: #ffffff;
    font-family: 'Roboto';
	font-weight: 400;
    font-size: 30px;
    padding: 5px 0 5px;
    line-height: 30px;
    text-align: center;
}
span.post-date .month-year {
    color: #ffffff;
    display: block;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 20px;
    padding: 3px 0 0;
    text-align: center;
}
.home_post_area h4 {
    border-bottom: 1px solid #e9e9e9;
    color: #353c3f;
    font-family: 'Roboto';
	font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 14px;
    padding: 0 0 13px;
}
.home_post_area h4 a { color: #353c3f; transition: all 0.3s ease 0s; }
.home_post_area h4 a:hover { color: #f22853; }
.home_post_area p { margin: 0 0 5px; font-size: 13px; color: #626668; line-height: 25px; font-family: 'Roboto'; }
.home-blog-sm-box { margin: 0 0px 0 0; padding: 0; display: block; }
.home-blog-sm-box img { margin: 0 0 20px; transition: all 0.3s ease-in-out 0s; }

.home-blog-btn { display: block; margin: 22px 0 0; }
.home-blog-btn a {
	background-color: #f22853;
    /* box-shadow: 0 3px 0 0 #9a0e1c; */
    color: #ffffff;
    border-radius: 2px;
    display: inline-block;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 10px 22px ;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.home-blog-btn a:hover, .home-blog-btn a:focus {
	background-color: #f22853;
    color: #ffffff;
	padding: 10px 30px ;
}
.blog-pagi { margin: 50px 0 60px; }
.text-center { text-align: center !important; }
.pager li {
    font-family: 'Roboto';
    display: inline;
    font-weight: 500;
}

/*Footer Widget Section--------------------------------------------------------------------------------------*/
.footer-section {
    background-color: #f6f2ec;
	border-top: 3px solid #f22853;
	margin: 50px 0 0;
    padding: 60px 0 20px;
    width: 100%;	
}
.callout-section .overlay {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    height: 100%;
    padding: 74px 0 83px;
    position: relative;
    width: 100%;
}
.footer-widget-address {
    margin-bottom: 0px;
    margin-top: 40px !important;
    padding-bottom: 0px;
}
.footer-addr-icon {
	color: #ee591f;
    float: left;
    margin-left: 0;
    margin-right: 15px;
	transition: all 0.4s ease 0s;
}
.footer-addr-icon i {
	font-size: 30px;
}
.footer-widget-address address {
    color: #626668;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 27px;
    margin-right: 0;
	margin-bottom: 0;
	font-weight: normal !important;
	display: block;
}
.footer-widget-section {
	padding: 0px 0 0px;
}
.footer-widget-column {
    margin-bottom: 40px;
}
.footer-widget-title {
    color: #4b453f;
    font-family: 'Roboto';
    font-size: 22px;
    line-height: 30px;
	font-weight: 500;
    margin: 0 0 30px;
}
.footer-section p {
    color: #626668;
    font-family: 'Roboto';
    font-size: 13px;
    line-height: 25px;
	padding: 0 0 10px;
	margin: 0 0 0px;
}
p.para {
    color: #626668;
    font-family: 'Roboto';
    font-size: 13px;
    line-height: 23px;
	padding: 0 0 10px;
	margin: 0 0 0px;
}
.footer-section p > span { font-weight: 600; }
.footer-logo {
	display: bolck;
	margin: 25px 0 15px;
}
.footer-blog-post {
    margin-bottom: 0px;
    margin-top: 0 !important;
    padding-bottom: 25px;
	overflow: hidden;
}
.footer-blog-post:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.footer-blog-post h3 {
    display: block;
    font-family: 'Roboto';
    font-size: 13px;
    line-height: 22px;
	font-weight: 600;
    margin-bottom: 5px;
    margin-top: -5px;
    word-wrap: break-word;
}
.footer-blog-post h3 a {
    color: #626668;
	transition: all 0.3s ease 0s;
}
.footer-blog-post:hover h3 a {
    color: #f22853;	
}
.footer-blog-post span {
    color: #626668;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 20px;
    margin-right: 8px;
	display: block;
}
.post-area {
    display: block;
    float: left;
	width: 60px;
	height: auto;
    margin-left: 0;
    margin-right: 15px;
}
.post-area img {
	display: block;
    height: auto;
    max-width: 100%;
	transition: all 0.3s ease-in-out 0s;
	border-radius: 2px;
}
.footer-blog-post:hover .post-area img {
	opacity: 7px;
}
.footer-widget-tags {
    margin: 0 0 10px;
    overflow: hidden;
    padding: 0px 0;
}
.footer-widget-tags a {
    background-color: #fcfcfc;
	border: 1px solid #dadada;
    color: #626668;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 5px 9px 0;
    padding: 6px 12px;
    transition: all 0.3s ease 0s;
    vertical-align: baseline;
    white-space: nowrap;
}
.footer-widget-tags a:hover {
    background-color: #ee591f;
	border: 1px solid #ee591f;
	color: #ffffff;
}
.footer-widget-column ul {
    margin: 10px 0 0;
    overflow: hidden;
    padding: 0;
}
.footer-widget-column ul li {
    display: block;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 22px;
	letter-spacing: 0.2px;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 0;
}
.footer-widget-column ul li a {
    color: #626668;
	transition: all 0.3s ease 0s;
}
.footer-widget-column ul li a:hover {
    color: #f22853;
}
.footer-widget-column > ul > li > a:before {
    content: "\f192";
    font-family: FontAwesome;
    margin-right: 10px;
	font-size: 15px;
}
.footer-copyright-section {
    background-color: #ffffff;
	border-bottom: 5px solid #ee591f;
	margin: 0;
    padding: 0;
    width: 100%;
}
.footer-contact-social {
	margin: 0;
	padding: 10px 0 40px;
}
.footer-contact-social li {
	background-color: #4b453f;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	-webkit-border-radius: 7%;
	-moz-border-radius: 7%;
	border-radius: 7%;
	height: 30px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0px;
	text-align: center;
	transition: background 0.2s ease-in-out 0s;
	width: 30px;
}
.footer-contact-social li.facebook:hover { background-color: #4c66a4; }
.footer-contact-social li.twitter:hover { background-color: #15b4c9; }
.footer-contact-social li.googleplus:hover { background-color: #DD4B39; }
.footer-contact-social li.linkedin:hover { background-color: #006599; }
.footer-contact-social li.skype:hover { background-color: #40beee; }
.footer-contact-social li.dribbble:hover { background-color: #c7366f; }
.footer-contact-social li.youtube:hover { background-color: #cc2423; }
.footer-contact-social li.vimeo:hover { background-color: #20b9eb; }
.footer-contact-social li.pagelines:hover { background-color: #364146; }
.footer-contact-social li > a > i {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 1.9;
	transition: color 0.3s ease-in-out 0s;
}
.footer-cont {
    display: block;
    width: 100%;
}
.footer-cont > p {
    float: left;
    width: 100%;
    font-family: 'Roboto';
    font-size: 13px;
	list-style: none;
    line-height: 27px;
    color: #626668;
    margin: 0 0 0px;
}
.footer-cont > p span {
    display: inline-block;
    color: #626668;
	font-weight: 600;
}
.footer-cont > p > a {
    color: #626668;
}
.footer-cont > p > a:hover, .footer-cont > p > a:focus {
    color: #626668;
}
/*Scroll Layout Button*/
.top_scrollup {
	background-color: #f22853;
    border-radius: 3px;
    bottom: 40px;
	padding: 7px;
    display: none;
    height: 30px;
    opacity: 1;
    position: fixed;
    right: 35px;
    text-align: center;
    width: 40px;
	overflow: hidden;
    z-index: 9999;
}
.top_scrollup:hover {
    opacity: 1;
}
.top_scrollup i{
    font-size: 22px;
	color: #ffffff;
}
.pager 
{text-align:center !important;}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
